<table>
  <tr>
    <app-square/>
    <app-square/>
    <app-square wordNumber="1" letter="O" correctLetter="O"/>
    <app-square letter="N" correctLetter="N"/>
    <app-square letter="E" correctLetter="E"/>
    <app-square/>
    <app-square/>
    <app-square/>
  </tr>

  <tr>
    <app-square/>
    <app-square letter="T" correctLetter="T"/>
    <app-square letter="W" correctLetter="W"/>
    <app-square letter="O" correctLetter="O"/>
    <app-square/>
    <app-square/>
    <app-square/>
    <app-square/>
  </tr>


  <tr>
    <app-square letter="F" correctLetter="F"/>
    <app-square letter="O" correctLetter="O"/>
    <app-square letter="U" correctLetter="U"/>
    <app-square letter="R" correctLetter="R"/>
    <app-square/>
    <app-square/>
    <app-square/>
    <app-square/>
  </tr>

  <tr>
    <app-square/>
    <app-square/>
    <app-square/>
    <app-square letter="T" correctLetter="O"/>
    <app-square letter="H" correctLetter="O"/>
    <app-square letter="R" correctLetter="O"/>
    <app-square letter="E" correctLetter="O"/>
    <app-square letter="E" correctLetter="O"/>
  </tr>

  <tr>
    <app-square letter="E" correctLetter="O"/>
    <app-square letter="I" correctLetter="O"/>
    <app-square letter="G" correctLetter="O"/>
    <app-square letter="H" correctLetter="O"/>
    <app-square letter="T" correctLetter="O"/>
    <app-square/>
    <app-square/>
    <app-square/>
  </tr>
</table>
<br>
