Vertical:
<ol>
  <li>
    <img src="assets/how_you_doin.gif">
  </li>
  <li>
    Luxury mountain resort located north of Sofia, Bulgaria.
  </li>
  <li>
    39.23242571434635, -76.85300271654506
  </li>

</ol>

Horizontal:
<ol>
  <li>
    Have yourself a good _____ morning.
  </li>
  <li>
    Your ____ is my drug.
  </li>
  <li>
    An imperative directing one's interlocutor to cease current activity used frequently in colloquial
    Bulgarian-English.
  </li>
  <li>
    Sounds like a ___ problem.
  </li>
</ol>
